.app__bookpage {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  background: rgba(26, 26, 26, 0.944);
  padding: 1rem 10rem;
  align-items: center;
  flex-direction: column;
}

.app__bookpage h1 {
  margin: 1rem 0;
  font-family: var(--font-alt);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.app__bookpage-infoWrap {
  width: 80%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(61, 61, 61, 0.827);
  padding: 30px 60px;
  margin: 1rem;
  border-radius: 10px;
}

.app__bookpage-infoWrap-info {
  text-align: center;
  font-family: var(--font-base);
  list-style: none;
  font-size: 18px;
  margin: 10px 0;
}

.app__bookpage-infoWrap-info span {
  color: rgba(184, 184, 184, 0.827);
}
