.app__bookpage {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  background: rgba(26, 26, 26, 0.944);
  padding: 1rem 10rem;
  align-items: center;
  flex-direction: column;
}

.app__bookpage-infoWrap {
  color: white;
}
