.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-black);
  padding: 1rem 10rem;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 200px;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.app__navbar-item, .app__navbar-login {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 24px;
}

.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login div {
  color: var(--color-golden);
  margin: 0 1rem;
  text-decoration: none;
  transition: 1s ease;
}

.app__navbar-login div:hover {
  border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login-separator {
  width: 1px;
  height: 30px;
  background-color: var(--color-grey);
}

