.app__booksSection {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  background: rgba(26, 26, 26, 0.944);
  padding: 1rem 10rem;
  align-items: center;
  flex-direction: column;
}

.app__booksSection-input {
  min-width: 900px;
  padding: 15px;
  margin: 30px 0px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgb(193, 193, 193);
  transition: .3s;
}

.app__booksSection h1 {
  margin: 1rem 0;
  font-family: var(--font-alt);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
}

.app__booksSection h2 {
  margin: 1rem 0;
  font-family: var(--font-alt);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
}

.app__booksSection-ul {
  width: 80%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(61, 61, 61, 0.827);
  padding: 30px 60px;
  margin: 1rem;
  border-radius: 10px;
}

.app__booksSection-li {
  font-family: var(--font-base);
  list-style: none;
  font-size: 18px;
  margin: 10px 0;
  transition: .4s;
}

.app__booksSection-li:hover {
  border-bottom: 1px solid var(--color-golden);
}

.app__booksSection-input:focus {
  outline: none;
}

.app__booksSection-input:hover {
  background-color: rgb(233, 233, 233);
}
